@model ClassroomViewModel;

@{
    ViewData["Title"] = "Classroom";
}

<h1>@Model.Name</h1>
<p>Access code: @Model.AccessCode</p>
<ul>
    @Html.Partial("Voqus", Model)

    @if (Model.RoleType == RoleTypes.Participant)
    {
        @using (Html.BeginForm("CreateQuestion", "Classroom"))
        {
            @Html.HiddenFor(m => m.AccessCode)
            @Html.TextBoxFor(m => m.NewQuestion, new { @class = "col-3" })
            <input type="submit" value="New Voqu" class="btn col-1"/>
        }
    }

    @Html.HiddenFor(m => m.AccessCode)
    @Html.HiddenFor(m => m.RoleType)
</ul>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function ()
        {
            var updateFrequency = 10000;
            setInterval(function() {
            $.post('@Html.Raw(@Url.Action("UpdateVoqus", "Classroom", new { accessCode = Model.AccessCode + "", roleType = (int) Model.RoleType }))').always(function (res)
                {
                    $('#voqus').html(res);
                })
            }, updateFrequency);
        });
    </script>
}  