@model ClassroomViewModel

<div id="voqus">
    @foreach (var voqu in Model.Voqus)
    {
    <ul>
        <p class="lead" style="display:inline">@voqu.Question</p> <p class="bold" style="display:inline">(@voqu.Votes ☝)</p>
        @if (Model.RoleType == RoleTypes.Participant)
        {
            @Html.ActionLink(voqu.HasVoted ? "Downvote" : "Upvote", "Vote", "Classroom", new { accessCode = Model.AccessCode, voquId = @voqu.Id }, new { @class = "btn" })
        }
    </ul>
    }

    @Html.HiddenFor(m => m.AccessCode)
</div>
