@model ClassroomViewModel

<div id="voqus">
    @if (Model.Voqus.Count > 0)
    {
        @foreach (var voqu in Model.Voqus)
        {
            <ul>
                <p class="lead" style="display:inline">@voqu.Question</p>
                <p class="bold" style="display:inline">(@voqu.Votes.Count ☝)</p>
                @if (Model.RoleType == RoleTypes.Participant)
                {
                    @Html.ActionLink(voqu.HasVoted ? "Remove vote" : "Upvote", "Vote", "Classroom", new { accessCode = Model.AccessCode, voquId = @voqu.Id }, new { @class = "btn" })
                }
                @if (voqu.Deletable)
                {
                    @Html.ActionLink("Delete", "DeleteQuestion", "Classroom", new { accessCode = Model.AccessCode, voquId = @voqu.Id }, new { @class = "btn" })
                }
            </ul>
        }
    }
    else
    {
        <p>No voqus submitted yet ...</p>
    }

    @Html.HiddenFor(m => m.AccessCode)
</div>